<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> React Dom Reconcilation</title>
  </head>
  <body>

<!-- <textarea  rows="40" cols="75">
Enter HTML here :
</textarea> -->
<form  action="/" method="post">

    <label for="num1"> A : </label>
    <input type="number" name="num1" id="num1">

    <label for="num2"> B : </label>
    <input type="number" name="num2" id="num2">


  <button id="add" type="submit" name="button"> Add </button>


</form>

  </body>
</html>
