<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactDom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">
     <script src="js/index.js"></script>

</head>

<body>


  <form action="/" method="post">

    <nav class="navbar navbar-light " style="font-size: 25px; font-family: sans-serif; background-color: whitesmoke;">

        <img src="images/reactImage.png" width="124" height="45"
            class="d-inline-block align-top" alt="">
        <p>IT300 Project</p>
    </nav>



    <div id="container">
        <div class="text_box" style="padding: 60px">
            Input html code in the box below
            <br><br>
            <textarea class="form-control" name="htmlInput"  style="height: 100%;"><%= htmlContent %></textarea>
        </div>
        <div class="text_box" style="overflow-y: scroll">
            <span id="temptext" style="width: 100%; text-align: center; font-size: x-large">
                DOM Tree will be shown here !
                <% if(flag) { %>
                    
                    <img src="images/output.jpg" alt="">
                <% } %>

         
            

            </span>
        </div>
    </div>

    <div>
        <br>
        <button type="submit"  class="btn btn-success" name="convert">Convert </button>
        <button type="submit" class="btn btn-danger" name="clear">Clear Box</button>
    </div>

    </form>

</body>

</html>
